/* write your override styles here */
html body #wall .tag-1 {
  background: none !important;
  z-index: 0 !important;
  display: none !important;
}

html body #wall #tag-2 {
  background: none !important;
  z-index: 0 !important;
  display: none !important;
}

html body div#wall #tag-3.slick {
  background: none !important;
  z-index: 0 !important;
  display: none !important;
}

html body #wall #tag-4 {
  background: none !important;
  z-index: 0 !important;
  display: none !important;
}

html body div#wall .parent #tag-5.slick {
  background: none !important;
  z-index: 0 !important;
  display: none !important;
}

html body div#wall div.parent div:last-child div#tag-6 {
  background: none !important;
  z-index: 0 !important;
  display: none !important;
}

html body div#wall div.parent div > #tag-7.slick {
  background: none !important;
  z-index: 0 !important;
  display: none !important;
}